/* index */
.title {
    margin: 2%; 
    font-family: sans-serif;
}
header,
footer {
    padding: auto;
    width: 100%;
}
.footer {
    width: 2%;
    margin-top: auto;
    border-color: #212529;
}
.navbar-nav {
    font-size: 140%;
}
.nav-item {
    margin: 0 20px;
}

/* home_page */
.posters_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 1% 20%;
}
.card {
    display: block;
    box-shadow: 0 5px 10px #ccc;
    width: 10rem; 
    height: 15rem;
    margin: 10px;
}
.card-body {
    padding: 5px;
}
.img-frame {
    width: 100px;
    height: 162px;
}
.card-title {
   font-size:80%; 
   text-align: center;
}
.card-btn {
    font-size: 10px;
    margin: 0 30px;
}

/* buying_ticket_page */

.buying_ticket_page {
    margin: 3% 15%;
}
.list-group-item {
    outline: none; 
    border: none;
    text-align: center;
}
.additional_image {
    width:200%;
}
.text {
    text-align: left;
    font-size: 80%;    
}
