/* index */
body {
    margin: 0 200px;
    height:2000px;
    background-size: contain;
    background-repeat: repeat-y;
    background-position: top center;
}
.title {
    margin: 2%; 
    font-family: sans-serif;
}
.header_text{
    margin: 0;
    font-size: 70%;
    text-align: center;
    color: white;
}
.user-name,
.auth-logout,
.auth-login,
.auth-signup {
    position: absolute;
    color: white;
}
.user-name,
.auth-login{
    margin: 5px 15px;
}
.auth-logout,
.auth-signup {
    margin: 5px 70px;    
}
header{
    background-color: blue;
}
header,
footer {
    padding: auto;
    width: 100%;
}
.footer {
    margin-top: auto;
    background-color: white;
}
.footer-company-name,
.footer-text {
    font-size:  75%;
}
.footer-company-name {
    margin: 8% 0;
}
.container {
    margin: 0 0 20px;
}
.navbar {
    height: 30px;
    outline: 2px solid #000; 
    font-size: 100%;
}
.nav-item {
    margin: 0 15px;
}
.cinema_stiker{
    background: black;
    color: white;
    margin: 60px 0 0;
    width: 150px;
    height: 52px;
}
li {
    list-style-type: none;
}
.strip {
    height:1px;
    background-color: black;
    width: 100%;
}
.pay_icon_a {
    width: 150px;
}
.pay_icon_g {
    width: 135px;
}
.social_icons_fb {
    width: 46px;
}
.social_icons{
    width: 40px;
}
.title {
    text-align: center;
}
a {
    text-decoration: none;
}
a, a:hover {
    color: black;
}
.head-nambers {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.heaad-social_icons,
.head-sarch-bur {
    display: flex;
    align-items: flex-end;
}

.heaad-social, 
.content {
    background-color: white;
}

/* home_page */
.posters_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.card {
    width: 12rem; 
    height: 23rem;
    margin: 12px;
}
.card-body {
    padding: 5px;
}
.card-title {
   font-size:80%; 
}
.card-btn {
    font-size: 10px;
    margin: 0 45px;
    background-color: #54d734;
    color: white;
}
.home-pay-icons {
    position: absolute;
    margin: -50px 12px; 
}

/* buying_ticket_page */

.buying_ticket_page {
    margin: 3% 15%;
}
.list-group-item {
    outline: none; 
    border: none;
    text-align: center;
}
.additional_image {
    width:100%;
}
.text {
    text-align: left;
    font-size: 80%;    
}
.buying_ticket_btn {
    width: 170px;
    font-size: 15px;
    background-color: #54d734;
    color: white;  
}
