{% extends "index.html" %}
{% load static %} 

{% block content %}
  <div class="list-group buying_ticket_page">
    <div class="list-group-item">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item"  src="{{ item.treiler }}" frameborder="0" allowfullscreen> Ссылка на видео с YouTube</iframe>
      </div>
    </div>
    <div class="list-group-item">
      <ul class="list-group list-group-horizontal-lg">
        <li class="list-group-item additional_image"><img src="/static/images/upload/{{ item.additional_photo }}" alt="..." class="img-thumbnail"></li>
        <li class="list-group-item">
          <ul class="list-group description">
            <li class="list-group-item"><a type="button" href="#" class="btn btn-primary">Купить билет</a></li>
            <li class="list-group-item"><h3>{{ item.title }}</h3></li>
            <li class="list-group-item text"><p>{{ item.text }}</p></li>
          </ul>
        </li>
      </ul>
    </div>  
  </div>
{% endblock %}
